.order {
	width: 80%;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	box-sizing: border-box;
}
.order_ingredient {
	text-transform: capitalize;
	display: inline-block;
	margin: 0 8px;
	padding: 5px;
	border: 1px solid #ccc;
}
